@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

/* variables */
:root {
  /* ### colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  /* ### Neutral */
  --grayish-blue: hsl(233, 8%, 62%);
  --grayish-blue-mid: hsl(0, 0%, 80%);
  --grayish-blue-light: hsl(220, 16%, 96%);
  --gray-very-light: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /* gradient for overlay */
  --radial-gradient: radial-gradient(
    ellipse at center bottom,
    hsla(240, 5%, 20%, 0.8),
    hsla(240, 1%, 35%, 0.8)
  );
  /* gradient for btn-primary */
  --linear-gradient: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );

  /* box-shadow for blog- */
  --box-shadow: 0px 0px 7px rgba(124, 124, 124, 0.01),
    0px 0px 12px rgba(170, 168, 170, 0.01);

  /* font family */
  --font-family: "Public Sans", sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;

  /* spacings */
  --spacing-15: 0.9375rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-25: 1.5625rem;
  --spacing-30: 1.875rem;
  --spacing-35: 2.1875rem;
  --spacing-40: 2.5rem;
  --spacing-45: 2.8125rem;
  --spacing-50: 3.125rem;
  --spacing-60: 3.75rem;
  --spacing-70: 4.375rem;
  --spacing-90: 5.625rem;

  /* sizings */
  --fixed-mobile: 23.4375rem;
}

html {
  scroll-behavior: smooth;
}

/* globals */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  font-family: var(--font-family);
}

.container {
  /* padding-left: var(--spacing-24);
  padding-right: var(--spacing-24); */
  padding-left: 6.4%;
  padding-right: 6.4%;
}

.easybank-landing-page {
  max-width: 90rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* typography */
h1,
h2,
h3,
h4,
h5 {
  color: var(--dark-blue);
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5;
}

p,
small {
  color: var(--grayish-blue);
}

h1 {
  font-size: var(--spacing-40);
  font-weight: var(--font-weight-300);
}

h2 {
  font-size: var(--spacing-30);
  font-weight: var(--font-weight-300);
  text-align: center;
}

h4 {
  font-size: var(--spacing-20);
  font-weight: var(--font-weight-400);
}

h5 {
  font-size: 1rem;
  font-weight: var(--font-weight-300);
}

small {
  display: block;
  font-size: 0.6875rem;
}

/* utils */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* buttons */

button,
.btn {
  background: var(--linear-gradient);
  border: none;
  border-radius: 30px;
  padding: var(--spacing-15) var(--spacing-35);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-700);
  cursor: pointer;
  transition: ease all 300ms;
}

/* put this into media query for desktop+ vpd */
button:hover {
  opacity: 0.6;
}

/* style for navbar-items links hover effects ============ 
    This hover-class is applied to a-href links from @min-width: 700px >>> from JS.
*/
.hover-class {
  position: relative;
  transition: ease all 300ms;
}

.hover-class:hover {
  color: var(--dark-blue);
}

.hover-class::after {
  position: absolute;
  content: "";
  display: block;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-image: var(--linear-gradient);
  transition: ease all 300ms;
}

.hover-class:hover::after {
  width: 100%;
}

@media (min-width: 52.5rem) {
  .hover-class::after {
    top: 47px;
  }
}

/* attribution front-end-mentor */
.attribution {
  font-size: 0.8125rem;
  color: var(--grayish-blue-light);
  background-image: var(--linear-gradient);
  opacity: 0.8;
  padding-block: 6px;
  text-align: center;
}
.attribution a {
  color: var(--grayish-blue-light);
  font-size: 0.8125rem;
  text-decoration: underline;
  opacity: 0.78;
  text-align: center;
}
