@import url(./abstracts.css);

/* styles-for-mobile-first
    =================
*/

/* navbar */
.navbar-nav {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);
}

.navbar-overlay {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 150vh;
  background-image: var(--radial-gradient);
}

/* hamburger menu */
.navbar-click {
  cursor: pointer;
}

/* hamburger menu general styles */
.navbar-click span {
  display: block;
  width: 24px;
  height: 1px;
  background-color: var(--dark-blue);
  margin-bottom: 4px;
  transform-origin: 5px 1px;
  transition: 120ms ease-in all;
}

/* rotate hamburger menu when clicked */
.is-clicked span {
  transition: 120ms ease-in all;
}

.is-clicked span:first-child {
  transform: rotate(45deg);
}

.is-clicked span:nth-of-type(2) {
  visibility: hidden;
}

.is-clicked span:last-child {
  transform: rotate(-45deg);
}

.navbar-btn {
  margin-top: -5px;
  font-size: 0.75rem;
  font-weight: var(font-weight-300);
  display: none;
}

/* show navbar-btn on 840px breakpoint */
@media (min-width: 52.5rem) {
  .navbar-btn {
    display: block;
  }

  .navbar-btn:hover {
    opacity: 0.6;
  }
}

/* nav-items menu styles */
.navbar-mobile {
  /* position to center-absolute */
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  margin-left: auto;
  margin-right: auto;
  /* styles */
  width: 80%;
  background-color: var(--white);
  border-radius: 4px;
  padding-top: var(--spacing-35);
  padding-bottom: var(--spacing-35);
  /* display grid */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--spacing-30);
}

/* desktop viewport class for navbar-items //added from js */
.navbar-desktop {
  display: flex;
  gap: var(--spacing-30);
}

.navbar-items a {
  position: relative;
  transition: linear 100ms all;
  color: var(--dark-blue);
}

@media (min-width: 43.75rem) {
  .navbar-nav {
    background-color: var(--white);
  }

  .navbar-items {
    margin-top: -0.3125rem;
  }

  .navbar-items a {
    color: var(--grayish-blue);
    position: relative;
  }

  .navbar-click {
    display: none;
  }
}

/* navbar-items animation-speed adjust */
.animate__animated.animate__zoomIn {
  --animate-duration: 0.25s;
}

/* class for hidden items, */
.is-hidden {
  visibility: hidden;
  display: none;
  z-index: -24;
}

/* hero-section styles */
.hero-section {
  display: grid;
  gap: var(--spacing-25);
  /* padding-bottom: var(--spacing-90); */
}

.hero-img-container {
  position: relative;
}

.hero-img {
  background-image: url(../img/bg-intro-mobile.svg);
  /* margin-bottom: var(--spacing-50); */
}

/* .img-container {
  padding-left: var(--spacing-20);
  padding-right: var(--spacing-20);
} */

.hero-img-top {
  position: relative;
  z-index: 25;
  margin-top: -120px;
  width: 90%;
  margin-inline: auto;
  display: block;
  max-width: 350px;
}

.hero-intro {
  display: grid;
  gap: var(--spacing-25);
  place-items: center;
}

.hero-text p {
  text-align: left;
}

@media (min-width: 43.75rem) {
  .hero-section {
    grid-template-columns: 40% 58%;
    place-items: center;
    background-color: var(--gray-very-light);
    min-height: 509px;
    gap: 2%;
  }

  .hero-img {
    order: 2;
    background-image: url(../img/bg-intro-desktop.svg);
    min-width: 104%;
    min-height: 100%;
    background-position-y: -224px;
    background-position-x: -69px;
    background-repeat: no-repeat;
  }

  .hero-intro {
    order: 1;
    place-items: first baseline;
    margin-top: var(--spacing-90);
    margin-left: var(--spacing-25);
  }

  .hero-intro h1 {
    font-size: var(--spacing-30);
    text-align: left;
  }

  .hero-intro > p {
    font-size: var(--spacing-10);
    text-align: left;
  }

  .hero-img {
    order: 2;
    background-image: url(../img/bg-intro-desktop.svg);
  }

  .hero-img-top {
    position: absolute;
    z-index: 25;
    margin-top: -7.5rem;
    width: 61%;
    margin-inline: auto;
    display: block;
    top: 5rem;
    right: -6.8125rem;
    max-width: 550px;
  }
}

@media (min-width: 920px) {
  .hero-section {
    grid-template-columns: 45% 53%;
  }

  .hero-img-top {
    max-width: 620px;
  }
}

/* cards section why choose EasyBank */
.cards-section {
  background-color: var(--grayish-blue-light);
  padding-top: var(--spacing-70);
  padding-bottom: var(--spacing-70);
}

.cards-intro {
  display: grid;
  gap: var(--spacing-30);
  margin-bottom: var(--spacing-60);
}

.cards-intro h2 {
  margin: 0 auto;
  text-align: center;
}

.cards-wrapper {
  display: grid;
  place-items: center;
  gap: var(--spacing-30);
}

.cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-20);
  /* max-width: var(--fixed-mobile); */
}

@media (min-width: 43.75rem) {
  .cards-section {
    background-color: var(--grayish-blue-light);
  }

  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .cards-intro {
  }

  .cards-intro h2 {
    text-align: left;
    width: 100%;
  }

  .cards-intro > p {
    text-align: left;
    width: 60%;
  }

  /* .cards-item p {
    text-align: left;
  } */
}

@media (min-width: 48.75rem) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 62.5rem) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cards-item {
    align-items: first baseline;
  }

  .cards-item p {
    text-align: left;
  }
}

/* blog section */
.blog-section {
  background: var(--gray-very-light);
  padding-top: var(--spacing-90);
  padding-bottom: var(--spacing-90);
}

.blog-items-wrapper {
  display: grid;
  place-items: center;
  gap: var(--spacing-20);
  /* gap: 5.33%; */
  margin-top: var(--spacing-40);
}

@media (min-width: 40rem) {
  .blog-items-wrapper {
    grid-template-columns: 2fr 2fr;
    max-width: 41.625rem;
    margin-inline: auto;
  }

  .blog-item {
    max-width: 16.25rem;
  }
}

@media (min-width: 73.125rem) {
  .blog-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: none;
    gap: 2%;
  }
}

/* @media (min-width: 47.6875rem) {
  .blog-items-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

.blog-item {
  background-color: var(--white);
  max-width: 20.3125rem;
  box-shadow: var(--box-shadow);
}

.blog-item img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  max-height: 12.5rem;
}

.blog-item-text {
  display: grid;
  gap: var(--spacing-15);
  padding: var(--spacing-30);
  padding-bottom: var(--spacing-45);
}

.blog-item-text h5,
.blog-item-text p {
  text-align: left;
}

.blog-item-text p {
  font-size: var(--spacing-10);
  font-size: 0.8125rem;
  text-align: left;
}

.blog-item img {
  max-width: 100%;
}

/* footer styles */
.footer {
  display: grid;
  place-items: center;
  text-align: center;
  gap: var(--spacing-30);
  background-color: var(--dark-blue);
  padding-top: var(--spacing-40);
  padding-bottom: var(--spacing-40);
}

.footer-icons-social {
  display: flex;
  gap: var(--spacing-15);
}

.footer-icons-social img {
  width: var(--spacing-25);
}

.footer-nav {
  display: grid;
  line-height: 2.2;
}

.footer-nav a {
  color: var(--white);
  font-weight: var(--font-weight-300);
}

.footer-nav p {
  font-size: var(--spacing-15);
}

/* attribution front-end-mentor */
.attribution {
  font-size: 0.8125rem;
  color: var(--grayish-blue-light);
  opacity: 0.78;
}
.attribution a {
  color: var(--grayish-blue-light);
  font-size: 0.8125rem;
  text-decoration: underline;
  opacity: 0.78;
}
